.wol-ui-foot-bar-animate-enter {
  opacity: 0;
  transform: translate3d(0, 200%, 0);
}
.wol-ui-foot-bar-animate-enter-active,
.wol-ui-foot-bar-animate-enter-done {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 500ms, transform 500ms;
}
.wol-ui-foot-bar-animate-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.wol-ui-foot-bar-animate-exit-active,
.wol-ui-foot-bar-animate-exit-done {
  opacity: 0;
  transform: translate3d(0, 200%, 0);
  transition: opacity 500ms, transform 500ms;
}